* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(194, 203, 211);
}

.border {
  border: solid 1px black;
}

.rounded {
  border-radius: 20px;
}

.center {
  margin: 0 auto;
}

.container {
  margin-top: 10vh;
  width: 50vw;
  padding: 1rem;
  background-color: white;
  box-shadow: 2px 2px 3px 2px rgba(48, 43, 43, 0.2);
}

table {
  width: 40vw;
  padding: 1rem;
}

td {
  padding: 1rem;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.title {
  width: 30vw;
  text-align: center;
  margin: 15px auto;
}

.form-in {
  width: 30vw;
  padding: 1em;
}

.form-control {
  width: 96%;
  padding: 0.5em;
  margin: 10px 0;
}

.btn {
  width: 100%;
  padding: 0.5em;
}

.btn-r {
  border-radius: 3px;
}